.Pokedex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Pokedex-info {
  display: flex;
  flex-direction: column;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.Pokedex-exp {
  margin-left: 20px;
  color: #C41E3A;
}

.Pokedex-winner {
  margin-left: 20px;
  color: lightgreen;
  font-size: 1.75rem;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}